In [1]:
import CactusTool

name = 'BBH000Lev5'
sim = CactusTool.load(name, basedir='/Volumes/simulations/BBH_Catalog')

## Scalar

Reduction operation: ('', 'minimum', 'maximum', 'norm1', 'norm2', 'average', 'infnorm', 'scalars')

In [2]:
print(sim.Scalar('maximum'))

Reduction type: 'maximum'
File Name                          Variables
---------                          ---------
systemstatistics-process_memory_mb ['maxrss_mb', 'majflt_mb', 'arena_mb', 'ordblks_mb', 'hblks_mb', 'hblkhd_mb', 'uordblks_mb', 'fordblks_mb', 'keepcost_mb', 'swap_used_mb']
ml_admconstraints-ml_ham           ['H']
ml_admconstraints-ml_mom           ['M1', 'M2', 'M3']

In [3]:
ham = sim.Scalar('maximum')['ml_admconstraints-ml_ham']

In [4]:
print("Fige Size:", ham.filesize(),"MB")

Fige Size: 0.1660442352294922 MB

In [5]:
ham.dsets(['H']).DataFrame

                        H
0.000000     26188.047208
0.392727      1008.582411
0.785455      3810.981482
1.178182       495.765967
1.570909      1491.275971
...                   ...
1698.152727      9.088710
1698.545455      7.453572
1698.938182     11.509960
1699.330909     13.820011
1699.723636     12.690018

[4329 rows x 1 columns]